/* Place CSS styles here */
:root{
    --black:  #000000;
    --button: #acddd4;
    --buttonhover: #1b1878;
    --offwhite:  #faf0e6;
    --pink: #FADADD;
    --dpink: #FF91A4;
    --deeppink: #FB607F;
    --mantis:#83C760;
    --green: #4EA217;
    --grey: #D3D3D3;
    --dg:	#023020;
    --green2: #099F1D;
}

header{
    background-color: deeppink;
    min-height: 200px;
}

h1, h2{
    text-align: center;
    font-family:'Cormorant Garamond', serif;
    font-weight: 700px;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 30px;
}

a,p{
    font-family: 'Cormorant Garamond', serif;
    color: var(--green2);
}

a{
    margin: 10px;
    font-size: 25px;
    color: var(--green2);
}

a:hover{
    color: var(--buttonhover);
    transition: all .25s ease;
}

a:focus{
    box-shadow: 0 0 0 4px var(--deeppink);
}

a:visited{
    color: var(--green);
}

a:visited:hover{
    color: var(--buttonhover);
}



button{
    font-family:'Cormorant Garamond', serif;  
}

body{
    background-color: var(--pink);
}

.button {
    border:none;
    color: var(--button);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all .25s ease;
}

.button1{
    background-color: var(--buttonhover);
    color: var(--offwhite);
    border-radius:30px;
}

.button1:hover {
    background-color: var(--button);
    color: var(--black);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.button1:focus{
    background-color: var(--button);
    color: var(--black);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.button1:disabled{
    background-color: var(--grey);
    color: var(--black);
    border-radius:30px;
}

.button1:disabled:hover{
    background-color: var(--grey);
    color: var(--black);
    box-shadow: none;
}  

.button2{
    background-color: var(--green);
    color: var(--black);
    border-radius:30px;
}

.button2:hover {
    background-color: var(--mantis);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.button2:focus{
    background-color: var(--mantis);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.button2:disabled{
    background-color: var(--grey);
    color: var(--black);
    border-radius:30px;
}

.button2:disabled:hover{
    background-color: var(--grey);
    color: var(--black);
    border-radius:30px;
    box-shadow: none;
}  

.button3{
    background-color: var(--green);
    color: var(--black);
    border-radius:30px;
}

.button3:hover {
    background-color: var(--mantis);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.button3:focus{
    background-color: var(--mantis);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.button3:disabled{
    background-color: var(--grey);
    color: var(--black);
    border-radius:30px;
}

.button3:disabled:hover{
    background-color: var(--grey);
    color: var(--black);
    border-radius:30px;
    box-shadow: none;
}  

.save{
    background-color: var(--deeppink);
    display: block; 
    color: var(--black);
    border-radius:30px;
    margin-left: auto;
    margin-right: auto;
}

.save:hover {
    background-color: var(--mantis);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.save:focus{
    background-color: var(--mantis);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.button2:hover {
    background-color: var(--buttonhover);
    color: var(--offwhite);
}

.aligncenter{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

input {
    background-color: var(--offwhite);
    color: var(--black);
    border-radius: 1.5rem;
    min-width: 40ch;
    padding: 9px;
    padding-left: 20px;
    font-size: 20px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 6%;
}

input:focus{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

input:hover{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

input:disabled{
    background-color: var(--grey);
    color: var(--black);
    box-shadow: none;
}

input:disabled:hover{
    background-color: var(--grey);
    color: var(--black);
    box-shadow: none;
}  

input:invalid {
    border: solid red 3px;
}

input:invalid:hover{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

input:invalid:focus{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

label{
    text-align: center;
    font-size: 20px;
    margin-bottom: 3%;
    display:block;
    font-family:'Cormorant Garamond', serif;

}

textarea{
    background-color: var(--offwhite);
    color: var(--black);
    border-radius: 1.5rem;
    min-width: 40ch;
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 6%;
}

textarea:focus{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


textarea:hover{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

textarea:disabled{
    background-color: var(--grey);
    color: var(--black);
    box-shadow: none;
}

textarea:disabled:hover{
    background-color: var(--grey);
    color: var(--black);
    box-shadow: none;
}  

textarea:invalid {
    border: solid red 3px;
}

textarea:invalid:hover{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

textarea:invalid:focus{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


form{
    display:inline-block;
    text-align: center;
    justify-content: center;
}

.valfooter {
    margin-top: 5%;
    background-color: var(--deeppink);
    min-width: 1236px;
    max-height: 200px;
    align-items: center;
    text-align: center;
}

.valfooter li {
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
}

.valfooter img{
    transform:scale(.45);
}

.valfooter a{
    margin:-25px;
}

.valfooter a:focus{
    box-shadow: 0 0 0 4px var(--dg);
}


